@mixin border-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transition($property, $duration, $style){
    transition: $property, $duration $style;
    -webkit-transition: $property, $duration $style;
    -moz-transition: $property, $duration $style;
    -ms-transition: $property, $duration $style;
    -o-transition: $property, $duration $style;
}

@mixin verticalText(){
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-text-orientation: upright;
}